<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>矮冬瓜</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/jquery/jquery.form.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style type="text/css">

        .navi-div {
            width: 15%;
            min-width: 150px;
            /*border: solid silver;*/
            margin-top: -20px;
            margin-left: 15px;

        }

        .module-div {
            background: #ffffff;
            border-radius: 6px;
            display: none;
        }

        .module-button {
            width: 100%;
        }

        .rotate-up {
            transform: rotate(180deg);
            /*兼容性*/
            /*-webkit-transform: rotate(180deg);*/
        }

        .module {
            margin-bottom: 3px;
        }

        .layout-left {
            margin-top: 30px;
            width: 200px;
            float: left;
            /*border: solid rebeccapurple;*/
        }

        .layout-right {
            /*border: solid red;*/
            float: left;
            /*margin-top: 10px;*/
            height: 800px;
            width: 80%;
        }

        .add-div {
            MARGIN-RIGHT: auto;
            MARGIN-LEFT: auto;
            height: 400px;
            width: 400px;
            vertical-align: middle;
            line-height: 200px;
            position: relative;
            border-radius: 6px;
            background: #ffffff;

            /*border: solid red;*/
        }

        .div-button-ok {
            position: absolute;
            display: block;
            width: 80px;
            margin-top: 300px;
            margin-left: 100px;
        }

        .div-button-cancel {
            position: absolute;
            display: block;
            width: 80px;
            margin-top: 300px;
            margin-left: 200px;
        }

        .div-element {
            position: absolute;
        }

    </style>


    <script type="text/javascript">

        $(function () {
            $(".js-module-expland").click(function () {
                var target = $(this).find(".caret");
                var cName = "rotate-up";
                var isHasClass = target.hasClass(cName);
                if (isHasClass) {
                    target.removeClass(cName);
                    $(this).next(".module-div").css({"display": "none"})
                } else {
                    target.addClass(cName);
                    $(this).next(".module-div").css({"display": "block"})
                }
            });

            $(".js-module-expland").click(function () {
                $("#moduleName").val("")
            });

        })

        function addModule() {
            $("#add_module_form").ajaxSubmit(function (resultJson) {
                //回调操作
                location.reload()
            });
        }

        function addInterfaces() {
            $("#add_interfaces_form").ajaxSubmit(function (resultJson) {
                //回调操作
                location.reload()
            });
        }

        function getModuleId(id) {
            $("#module_id").val(id);
            $("#interfaces_name").val("")
            $("#interfaces_description").val("")
        }

        //        function getModuleInterfaces(e, id) {
        //
        //            getModuleId(id)
        //
        //            var target = $(e);
        //            var isHasClass = target.find(".caret").hasClass("rotate-up");
        //            if (!isHasClass) {
        //                $.ajax({
        //                    url: "/interfaces/find",
        //                    //返回的数据类型,text 或者 json数据，建议为json
        //                    dataType: "json",
        //                    //传参方式，get 或post
        //                    type: "post",
        //                    //传过去的参数集合，格式为 变量名：变量值
        //                    data: {
        //                        moduleId: id
        //                    },
        //                    //若Ajax处理失败后回调函数，msg是返回的错误信息
        //                    error: function (msg) {
        //                        alert("请求失败!");
        //                    },
        //                    //若Ajax处理成功后的回调函数，text是返回的页面信息
        //                    success: function (data) {
        //                        console.log(data)
        //                        if (data.Code == 200) {
        //                            var resp = data.Result;
        //                            var html = '';
        //                            if (resp) {
        //                                for (var i = 0, menu; menu = resp[i++];) {
        ////                                var menu = resp[i];
        //                                    html += '<li role="presentation"><a href="#">' + menu.Name + '</a></li>';
        //                                }
        //                            }
        //                            console.log(html)
        //                            html += '<li role="presentation" style="text-align:center;"> <a href="#" data-toggle="modal" data-target="#addInterfacesDiv"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增接口 </a> </li>';
        //                            target.next('.module-div').find('ul').html(html);
        //
        //                        } else {
        //                            alert("获取接口列表错误!");
        //                        }
        //                    }
        //                });
        //            }
        //        }

        function openInfo(url) {
            $("#info_frame").attr("src", url);
        }

    </script>
</head>
<body>

<div class="page-header">
    <h1>&nbsp;&nbsp;项目名
        <small>(2016年06月26日)</small>
    </h1>
</div>
<!--<div>-->
<!--<form class="navbar-form navbar-left" role="search">-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="Search">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-default">Submit</button>-->
<!--</form>-->
<!--</div>-->
<div class="layout-left">
    <div class="navi-div">

        <!--<div class="module">-->

        <!--<button type="button" class="btn btn-primary btn-lg active module-button js-module-expland">-->
        <!--登录模块 <span-->
        <!--class="caret"></span>-->
        <!--</button>-->
        <!--<div class="module-div">-->
        <!--<ul class="nav nav-pills nav-stacked">-->
        <!--<li role="presentation"><a href="#">登录</a></li>-->
        <!--<li role="presentation"><a href="#">退出登录</a></li>-->
        <!--<li role="presentation"><a href="#">注册</a></li>-->
        <!--<li role="presentation"><a href="#">第三方的登录</a></li>-->
        <!--<li role="presentation"><a href="#">发送短信</a></li>-->
        <!--<li role="presentation"><a href="#">短信验证</a></li>-->
        <!--<li role="presentation" style="text-align:center;">-->
        <!--<a href="#" data-toggle="modal"-->
        <!--data-target="#myModal">-->
        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增接口-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="module">-->
        <!--<button type="button" class=" btn btn-primary btn-lg active module-button js-module-expland">日志模块 <span-->
        <!--class="caret"></span></button>-->
        <!--<div class="module-div">-->
        <!--<ul class="nav nav-pills nav-stacked">-->
        <!--{{range .modules}}-->
        <!--<li role="presentation"><a href="#">{{.Name}}</a></li>-->
        <!--{{end}}-->
        <!--<li role="presentation" style="text-align:center;">-->
        <!--<a href="#" data-toggle="modal"-->
        <!--data-target="#myModal">-->
        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增接口-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        {{range .modules}}
        <div class="module">
            <!--onclick="getModuleInterfaces(this,'{{.Id}}')"-->
            <button type="button" class="btn btn-primary btn-lg active module-button js-module-expland">{{.Name}} <span
                    class="caret"></span></button>
            <div class="module-div">
                <ul class="nav nav-pills nav-stacked">
                    {{range .GetInterfaces}}
                    <li role="presentation"><a href="#" onclick="openInfo('/info?Id={{.Id}}')">{{.Name}}</a></li>
                    {{end}}
                    <li role="presentation" style="text-align:center;" onclick="getModuleId('{{.Id}}')"><a href="#"
                                                                                                           data-toggle="modal"
                                                                                                           data-target="#addInterfacesDiv"> <span
                            class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增接口 </a></li>
                </ul>
            </div>
        </div>
        {{end}}
        <button type="button" class=" btn btn-primary btn-lg active module-button js-module-expland" data-toggle="modal"
                data-target="#addModuleDiv">新增模块 <span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>

    </div>
</div>

<div class="layout-right">
    <iframe id="info_frame" style="width: 800px;height: 100%;" frameborder=0></iframe>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="addModuleDiv" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true" style="position: absolute">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="modalLabel">
                    添加模块
                </h4>
            </div>
            <form id="add_module_form" action="/module/add" method="post">
                <div class="modal-body">
                    <input type="hidden" name="ProjectId" value="1">
                    <input id="moduleName" type="text" name="ModuleName" class="form-control" placeholder="模块名"/></br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <a type="submit" class="btn btn-primary" onclick="addModule()">
                        提交
                    </a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="addInterfacesDiv" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel2" aria-hidden="true" style="position: absolute">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="modalLabel2">
                    添加接口
                </h4>
            </div>
            <form id="add_interfaces_form" action="/interfaces/add" method="post">
                <div class="modal-body">
                    <input id="module_id" type="hidden" name="ModuleId">
                    <input id="interfaces_name" type="text" name="Name" class="form-control"
                           placeholder="接口名"/></br>
                    <input id="interfaces_description" type="text" name="Description" class="form-control"
                           placeholder="接口描述"/></br>
                    <input id="interfaces_url" type="text" name="Url" class="form-control"
                           placeholder="接口地址"/></br>
                    <select class="form-control" name="Method">
                        <option value="1">PUT</option>
                        <option value="2">POST</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <a type="submit" class="btn btn-primary" onclick="addInterfaces()">
                        提交
                    </a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>