<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>矮冬瓜</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/jquery/jquery.form.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style type="text/css">
        .info-body {
            margin-left: 10px;
            /*border: solid red;*/
        }

        pre {
            outline: 1px solid #ccc;
            padding: 5px;
            margin: 5px;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }

    </style>

</head>
<body class="info-body">


<dl>
    <dt>
    <h4>接口描述:</h4></dt>
    <dd>
        <li>{{.Description}}</li>
    </dd>
    <dt>
    <h4>请求地址:</h4></dt>
    <dd>
        <li>{{.Url}}</li>
    </dd>
    <dt>
    <h4>方法类型:</h4></dt>
    <dd>
        <li>{{.Method}}</li>
    </dd>
    <h4>参数:</h4></dt>
    <dd>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>字段</th>
                <th>类型</th>
                <th>说明</th>
                <th>是否必选</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>username</td>
                <td>String</td>
                <td>用户名</td>
                <td>是</td>
            </tr>
            <tr>
                <td>2</td>
                <td>password</td>
                <td>String</td>
                <td>密码</td>
                <td>否</td>
            </tr>
            </tbody>
        </table>
    </dd>


    <dt>
    <h4>返回值:</h4></dt>
    <dd>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>字段</th>
                <th>类型</th>
                <th>说明</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>status</td>
                <td>String</td>
                <td>返回状态，成功返回success，失败返回fail</td>
            </tr>
            <tr>
                <td>2</td>
                <td>code</td>
                <td>String</td>
                <td>状态码，000表示成功，001表示用户名、手机号或邮箱与密码不匹配，002用户名、手机号或邮箱不存在，100其他</td>
            </tr>
            </tbody>
        </table>
    </dd>
</dl>

<dt>
<h4>示例:</h4></dt>
<pre id="result">
{{.Example}}
</pre>


<script type="text/javascript">
    $('#result').html(syntaxHighlight($('#result').text().trim()));
    function syntaxHighlight(json) {
        if (typeof json != 'string') {
            json = JSON.stringify(json, undefined, 2);
        }
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }
</script>

</body>
</html>